html{
	font-size: 24px;
	--second-type: 1rem;
	--page-tilt: -6deg;
	--paper-color: #8F765A;
/*--paper-color: #fff;*/
	--text-color: #000;
	--nav-padding: 1rem;
}
@media all and (max-width: 40em) { 
	html{ font-size: 18px; } 
}
@media all and (max-width: 28em) { 
	html{ font-size: 16px; } 
}

body{
	position: relative;
	font-family: 'IM_FELL_English';
	font-size: 1rem;
	-webkit-font-smoothing:antialiased;
	letter-spacing: 0.025rem;
/*	overflow: hidden;*/
	background-color: #000;
	-webkit-text-stroke-width: 0.05rem;
	line-height: 1.2;
/*  -webkit-text-stroke-color: ;*/
	color:var(--text-color);
/*	text-shadow: 0.01rem 0.01rem 0.02rem var(--text-color), -0.01rem -0.01rem 0.02rem var(--text-color), 0.01rem -0.01rem 0.02rem var(--text-color);*/
	/*text-shadow: 
		0.01rem 0.01rem 0.02rem var(--text-color), 
		-0.01rem -0.01rem 0.02rem var(--text-color), 
		0.01rem -0.01rem 0.02rem var(--text-color), 
		0 0 0.05em rgb(70 50 25), 
		0 0 0.1em rgb(22 39 12), 
		0 0 0.2em rgb(56 69 45);*/
}
section{
	position: absolute;
	top:0;
	left:0;
	width:100vw;
	height:100dvh;
	overflow: hidden;
	pointer-events: none;
}
section > .pagewrapper{
	width:100%;
	height:100%;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);  
	transition-property: clip-path;  
	transition-duration: 0.5s;
	position: relative;
}
.pagewrapper > .front, .pagewrapper > .back{
	position: absolute;
	width:100%;
	height:100%;
}
.pagewrapper > .front{
	pointer-events: auto;
}

.pagewrapper > .back{
	height:100%;
	transition-property: transform;
	transform: translateX(100%);
	transition-duration: 0.5s;
	transform-origin: bottom left;
	cursor: pointer;
	z-index: 10;
}
.pagewrapper > .back:after{
	content:'';
	position: absolute;
	width:100%;
	height:50%;
	left:0;
	bottom:-50vh;
	background-color: inherit;
}

/* page next hover */
section.hover:has( > .pagewrapper > .front > nav > .nextButton:hover) .pagewrapper{
	clip-path: polygon(0% 0%, calc(100vw - 2rem) 0%, calc(100vw - 2rem) 100%, 0% 100%);  
}
section.hover:has( > .pagewrapper > .front > nav > .nextButton:hover) .back{
	transform: translateX(calc(100vw - 2rem)) rotate(var(--page-tilt));
}
section.hover:has( > .pagewrapper > .front > nav > .nextButton:hover) .nextShadow{
	transform: translateX(0px);
}

/* page next flip, also initiates welcome flip too */
section.hover.flip:has( > .pagewrapper > .front > nav > .nextButton) .pagewrapper, 
#welcome.initial.flip:has( > .pagewrapper > .back) .pagewrapper{
	transition-duration: 1s;
	clip-path: polygon(-2rem 0%, -2rem 0%, -2rem 100%, -2rem 100%);
}
section.hover.flip:has( > .pagewrapper > .front > nav > .nextButton) .back, 
#welcome.initial.flip:has( > .pagewrapper > .back) .back{
	transition-duration: 1s;
	transform: translateX(calc(-100vw - 2rem)) rotate(0deg);
}
section.hover.flip:has( > .pagewrapper > .front > nav > .nextButton) .nextShadow, 
#welcome.initial.flip:has( > .pagewrapper > .back) .nextShadow{
	transition-duration: 1s;
	transform: translateX(-100vw);
}

/* special welcome page flip */
#welcome.initial > .pagewrapper{
	clip-path: polygon(0% 0%, calc(100vw - 2rem) 0%, calc(100vw - 2rem) 100%, 0% 100%);  
}
#welcome.initial > .pagewrapper > .back{
	transform: translateX(calc(100vw - 2rem)) rotate(var(--page-tilt));
}
#welcome.initial > .nextShadow{
	transform: translateX(0px);
}

/* page flip shadows */

:root{
/*	--shadow-color: 30deg 21% 29%;*/
	--shadow-color: 32deg 11% 23%;
}
.pagewrapper > .back{
/*	-webkit-box-shadow: -0.05rem 0.05rem 0.25rem rgba(89,71,51,0.8);*/
/*	-webkit-box-shadow: -0.2rem 0rem 0.25rem hsl(var(--shadow-color) / 0.4);*/
	-webkit-box-shadow: -0.2rem 0rem 0.25rem rgba(0,0,0,0.3);
}

.nextShadow{
	position: absolute;
	width:4rem;
	height:100vh;
	top:0;
	right:0;
	transform:translateX(4rem);
	transition-duration: 0.5s;
	background: linear-gradient(
		to right, 
		transparent 10%, 
		hsl(var(--shadow-color) / 0.35) 35%, 
		hsl(var(--shadow-color) / 0.25) 50%, 
		hsl(var(--shadow-color) / 0.7) 40%, 
		transparent);
	mix-blend-mode: multiply;
	-webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgb(0, 0, 0) 40%);
	transition-property: transform;  
	pointer-events: none;	
}

/* page styles */
.pagewrapper > .front, .pagewrapper > .back{
	background: var(--paper-color);
}

.pagewrapper > .back{
	padding:1rem;
}

.pagewrapper > .front{
	padding:1rem 2rem;
	overflow: auto;
}

nav{
	position: sticky;
	top:0;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	pointer-events: none;
	margin-bottom: 1rem;
}
nav > div{
	cursor: pointer;
	pointer-events: auto;
	min-width: 1rem;
}
nav > .pageIndex{
	width:fit-content;
	text-align: center;
}
.pageIndex > span{
	display: inline-block;
}

h1, h2, h3, h4, h5{
	text-align: center;
	text-transform: uppercase;
}

p{
	margin-bottom: 1.2rem;
}


.imgCont{
	width:min(50vw, 50vh);
	margin:auto;
    position: relative;
}
/* for image innerglow*/
.imgCont.glow:after{
	box-shadow: 
		inset -10px -10px 10px 20px var(--paper-color);
  	content: '';
  	display: block;
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0;
}
img{
	display: block;
	width:100%;
	max-width: 100%;
	mix-blend-mode: multiply;
	filter:grayscale(100%);
}

#index .imgCont{
	position: relative;
	width:min(50vw, 50vh);
	margin:auto;
}
#index a{
	font-family: 'IM_FELL_English';
}
.indexButton{
	position: absolute;
	cursor:pointer;
}
.indexButton:hover{
	opacity: 0.5;
}

#to1{
	top:0;
	left:0;
}
#to2{
	top:0;
	right:0;
}
#to3{
	bottom:0;
	left:0;
}
#to4{
	bottom:0;
	right:0;
}


a:hover{
	opacity: 0.5;
}

