html{
	font-size: 72px;
	--secondary-type: 0.65rem;
	--page-tilt:-10deg;
	--paper-color:#c3ab93;
/*	--text-color:#332518;*/
/*	--text-color:#46352f;*/
/*	--text-color:#40322d;*/
--text-color:#40302f;
/*	letter-spacing: 0.1rem;*/
}
@media all and (max-width: 60em) { 
	html{ 
		font-size: 60px; 
		--page-tilt:-8deg;		
	} 
}
@media all and (max-width: 40em) { 
	html{ 
		font-size: 48px; 
		--page-tilt:-6deg;		
	} 
}
@media all and (max-width: 28em) { 
	html{ 
		font-size: 36px; 
		--page-tilt:-6deg;		
	} 
}


body{
	position: relative;
	font-family: 'IM_FELL_English';
	font-size: 1rem;
/*	line-height: 1.2;*/
	overflow: hidden;
	background-color: #000;
	color:var(--text-color);
}
section{
	position: absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	overflow: hidden;
	pointer-events: none;
}
section > .pagewrapper{
	width:100%;
	height:100%;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);  
	transition-property: clip-path;  
	transition-duration: 0.5s;
	position: relative;
}
.pagewrapper > .front, .pagewrapper > .back{
	position: absolute;
	background-color: var(--paper-color);
	width:100%;
	height:100%;
}
.pagewrapper > .front{
	pointer-events: auto;
}

:root{
	--shadow-color: 30deg 21% 29%;
}
.pagewrapper > .back{
	height:100%;
	font-size: var(--secondary-type);
	transition-property: transform;
	transform: translateX(100%);
	transition-duration: 0.5s;
	transform-origin: bottom left;
	-webkit-box-shadow: 0 0.1rem 0.25rem rgba(89,71,51,0.8);
/*	-webkit-box-shadow: 0 0.1rem 0.5rem hsl(var(--shadow-color) / 0.8);*/
	cursor: pointer;
}
.pagewrapper > .back:after{
	content:'';
	position: absolute;
	width:100%;
	height:50%;
	left:0;
	bottom:-50vh;
	background-color: inherit;
}
.nextShadow{
	position: absolute;
	width:2rem;
	height:100vh;
	top:0;
	right:0;
	transform:translateX(2rem);
	transition-duration: 0.5s;
	background: linear-gradient(to right, 
								transparent 10%, 
								hsl(var(--shadow-color) / 0.35) 35%, 
								hsl(var(--shadow-color) / 0.25) 50%, 
								hsl(var(--shadow-color) / 0.6) 50%, 
								transparent);
	mix-blend-mode: multiply;
	-webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgb(0, 0, 0) 50%);
	transition-property: transform;  
	pointer-events: none;
	
}

/* page next hover */
section.hover:has(.nextButton:hover) .pagewrapper{
	clip-path: polygon(0% 0%, calc(100vw - 1rem) 0%, calc(100vw - 1rem) 100%, 0% 100%);  
}
section.hover:has(.nextButton:hover) .back{
	transform: translateX(calc(100vw - 1rem)) rotate(var(--page-tilt));
}
section.hover:has(.nextButton:hover) .nextShadow{
	transform: translateX(0px);
}

/* page next flip, also initiates welcome flip too */
section.hover.flip:has(.nextButton) .pagewrapper, 
#welcome.initial.flip:has(.back) .pagewrapper{
	transition-duration: 1s;
	clip-path: polygon(-1rem 0%, -1rem 0%, -1rem 100%, -1rem 100%);
}
section.hover.flip:has(.nextButton) .back, 
#welcome.initial.flip:has(.back) .back{
	transition-duration: 1s;
	transform: translateX(calc(-100vw - 1rem)) rotate(0deg);
}
section.hover.flip:has(.nextButton) .nextShadow, 
#welcome.initial.flip:has(.back) .nextShadow{
	transition-duration: 1s;
	transform: translateX(-100vw);
}

/* special welcome page flip */
#welcome.initial > .pagewrapper{
	clip-path: polygon(0% 0%, calc(100vw - 1rem) 0%, calc(100vw - 1rem) 100%, 0% 100%);  
}
#welcome.initial > .pagewrapper > .back{
	transform: translateX(calc(100vw - 1rem)) rotate(var(--page-tilt));
}
#welcome.initial > .nextShadow{
	transform: translateX(0px);
}

/* Page Styles */
.pagewrapper > .front{
	/*display: flex;
	flex-direction: column;
	gap:0.25rem;*/
}
.pagewrapper > .back{
	padding: 0.25rem;
}

nav{
	position: absolute;
	top:0;
	left:0;
	padding: 0.25rem;
	width:100vw;
	font-size: var(--secondary-type);
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}
nav > div{
	cursor: pointer;
	pointer-events: auto;
}
nav > .prevButton{
	text-align: left;
}
nav > .nextButton{
	text-align: right;
	position: relative;
}

.page{
/*	height:calc(100vh - 2rem);*/
	padding: calc(0.25rem * 2 + 0.65rem + 1.2rem) 1rem 1rem 1rem;
	height:100%;
	overflow:auto;
}
.page:has(.textbox){
	padding: calc(0.25rem * 2 + 0.65rem + 1.2rem) 0 0 0;
}
.textbox{
	width:8.25rem;
	margin:0 auto;
}
.textbox h1{
	text-align: left;
}

h1{
	text-transform: uppercase;	
	text-align: center;
}
ol {
	counter-reset: section;
}
li {
    display: block;
    width:fit-content;
    counter-reset: number;
}
li:before {
    counter-increment: section;
    content: counter(section, upper-roman);
}
a:hover{
	opacity: 0.5;
}
