html{
	font-size: 24px;
	--second-type: 1rem;
	--page-tilt: -6deg;
	--paper-color: #938575;
	--text-color: #0b1108;
	--nav-padding: 1rem;
}
@media all and (max-width: 40em) { 
	html{ 
		font-size: 20px; 
/*		--page-tilt:-4deg;		*/
	} 
}
@media all and (max-width: 28em) { 
	html{ 
		font-size: 18px; 
/*		--page-tilt:-2deg;		*/
	} 
}

body{
	position: relative;
	font-family: 'IM_FELL_English';
	font-size: 1rem;
	letter-spacing: 0.05rem;
	overflow: hidden;
	background-color: #000;
	color:var(--text-color);
	text-shadow: 0.02rem 0.02rem 0.04rem var(--text-color), -0.02rem -0.02rem 0.04rem var(--text-color), 0.02rem -0.02rem 0.04rem var(--text-color), 0 0 0.05em rgb(70 50 25), 0 0 0.15em rgb(22 39 12), 0 0 0.25em rgb(56 69 45);
}
section{
	position: absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	overflow: hidden;
	pointer-events: none;
}
section > .pagewrapper{
	width:100%;
	height:100%;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);  
	transition-property: clip-path;  
	transition-duration: 0.5s;
	position: relative;
}
.pagewrapper > .front, .pagewrapper > .back{
	position: absolute;
	width:100%;
	height:100%;
}
.pagewrapper > .front{
	pointer-events: auto;
}

.pagewrapper > .back{
	height:100%;
	transition-property: transform;
	transform: translateX(100%);
	transition-duration: 0.5s;
	transform-origin: bottom left;
	cursor: pointer;
	z-index: 10;
}
.pagewrapper > .back:after{
	content:'';
	position: absolute;
	width:100%;
	height:50%;
	left:0;
	bottom:-50vh;
	background-color: inherit;
}

/* page next hover */
section.hover:has( > .pagewrapper > .front > nav > .nextButton:hover) .pagewrapper{
	clip-path: polygon(0% 0%, calc(100vw - 2rem) 0%, calc(100vw - 2rem) 100%, 0% 100%);  
}
section.hover:has( > .pagewrapper > .front > nav > .nextButton:hover) .back{
	transform: translateX(calc(100vw - 2rem)) rotate(var(--page-tilt));
}
section.hover:has( > .pagewrapper > .front > nav > .nextButton:hover) .nextShadow{
	transform: translateX(0px);
}

/* page next flip, also initiates welcome flip too */
section.hover.flip:has( > .pagewrapper > .front > nav > .nextButton) .pagewrapper, 
#welcome.initial.flip:has( > .pagewrapper > .back) .pagewrapper{
	transition-duration: 1s;
	clip-path: polygon(-2rem 0%, -2rem 0%, -2rem 100%, -2rem 100%);
}
section.hover.flip:has( > .pagewrapper > .front > nav > .nextButton) .back, 
#welcome.initial.flip:has( > .pagewrapper > .back) .back{
	transition-duration: 1s;
	transform: translateX(calc(-100vw - 2rem)) rotate(0deg);
}
section.hover.flip:has( > .pagewrapper > .front > nav > .nextButton) .nextShadow, 
#welcome.initial.flip:has( > .pagewrapper > .back) .nextShadow{
	transition-duration: 1s;
	transform: translateX(-100vw);
}

/* special welcome page flip */
#welcome.initial > .pagewrapper{
	clip-path: polygon(0% 0%, calc(100vw - 2rem) 0%, calc(100vw - 2rem) 100%, 0% 100%);  
}
#welcome.initial > .pagewrapper > .back{
	transform: translateX(calc(100vw - 2rem)) rotate(var(--page-tilt));
}
#welcome.initial > .nextShadow{
	transform: translateX(0px);
}

/* page flip shadows */

:root{
/*	--shadow-color: 30deg 21% 29%;*/
	--shadow-color: 32deg 11% 23%;
}
.pagewrapper > .back{
/*	-webkit-box-shadow: -0.05rem 0.05rem 0.25rem rgba(89,71,51,0.8);*/
	-webkit-box-shadow: -0.2rem 0rem 0.25rem hsl(var(--shadow-color) / 0.4);
}

.nextShadow{
	position: absolute;
	width:4rem;
	height:100vh;
	top:0;
	right:0;
	transform:translateX(4rem);
	transition-duration: 0.5s;
	background: linear-gradient(
		to right, 
		transparent 10%, 
		hsl(var(--shadow-color) / 0.35) 35%, 
		hsl(var(--shadow-color) / 0.25) 50%, 
		hsl(var(--shadow-color) / 0.7) 40%, 
		transparent);
	mix-blend-mode: multiply;
	-webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgb(0, 0, 0) 50%);
	transition-property: transform;  
	pointer-events: none;	
}

/* page styles */
.pagewrapper > .front, .pagewrapper > .back{
	background: var(--paper-color);
}

nav, .pagewrapper > .back{
/*	font-family: 'IM_FELL_English_Italic';*/
	font-size: var(--second-type);
	letter-spacing: 0.02rem;
	padding:var(--nav-padding) calc( var(--nav-padding) * 2 );
}
.pagewrapper > .back{
	padding:var(--nav-padding);
}

a{
	font-family: 'IM_FELL_English_Italic';
}

nav{
	position: absolute;
	top:0;
	left:0;
	width:100vw;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}
nav > div{
	cursor: pointer;
	pointer-events: auto;
}
nav > .pageCounter{
	position: absolute;
	width:fit-content;
	left:50%;
	transform:translateX(-50%);
}

.page{
	padding: calc(var(--nav-padding) + 2rem) 1rem 1rem 1rem;
	height:100%;
	overflow:auto;
}
.page:has(.textbox){
	padding: calc(var(--nav-padding) + 2rem) 0 1rem 0;
}
.textbox{
	width:100%;
	margin:0 auto;
	line-height: 1.2;
}
.textbox h1{
	text-align: center;
	text-transform: uppercase;
}
.textbox img{
	display: block;
	width:min(75vw, 75vh);
	margin:auto;
	mix-blend-mode: multiply;

	filter:
    	/* black to white */
    	invert(100%)
    	/* white to off-white */
    	sepia(100%)
    	/* off-white to yellow */
    	saturate(50%)
    	/* do whatever you want with yellow */
    	hue-rotate(0deg)
    	invert(100%)
		blur(0.01rem);
}

.crossHide{
	visibility: hidden;
}


a:hover{
	opacity: 0.5;
}

ol {
	counter-reset: section;
}
li {
    display: block;
    width:fit-content;
    counter-reset: number;
}
li:before {
    counter-increment: section;
    content: counter(section, upper-roman);
}

